.container {
  max-width: 1110px;
  margin: 40px;
  display: flexbox;
  flex-direction: column;
  color: hsl(0, 0%, 95%);
}

.container h1 {
  font-size: 2.5rem;
  margin-block: 20px;
  font-family: 'Big Shoulders Display', cursive;
}

.container p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 16px;
  font-family: 'Lexend Deca', sans-serif;
  margin-block-end: 50px;
}

.container a {
  box-sizing: border-box;
  padding-block: 15px;
  padding-inline: 20px;
  color: hsl(31, 77%, 52%);
  background-color: hsla(235, 0%, 100%, 1);
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  font-family: 'Lexend Deca', sans-serif;
  border-radius: 40px;
}

.sedans {
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 40px;
}

.sedans a {
  transition: .4s ease;
}

.sedans a:hover {
  cursor: pointer;
  color: white;
  background-color: hsl(31, 77%, 52%);
  border: 2px solid white;
}

.suvs {
  background-color: hsl(184, 100%, 22%);
  padding: 40px;
}

.suvs a {
  color: hsl(184, 100%, 22%);
  transition: .4s ease;
}

.suvs a:hover {
  cursor: pointer;
  color: white;
  background-color: hsl(184, 100%, 22%);
  border: 2px solid white;
}


.luxury {
  background-color: hsl(179, 100%, 13%);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 40px;
}

.luxury a {
  color: hsl(179, 100%, 13%);
  transition: .4s ease;
}

.luxury a:hover {
  cursor: pointer;
  color: white;
  background-color: hsl(179, 100%, 13%);
  border: 2px solid white;
}
