.container {
  max-width: 100%;
  margin: 40px;
  display: flexbox;
  flex-direction: column;
  color: hsl(0, 0%, 95%);
}

.container h1 {
  font-size: 2.5rem;
  margin-block: 20px;
  font-family: 'Big Shoulders Display', cursive;
}

.container p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 16px;
  font-family: 'Lexend Deca', sans-serif;
  margin-block-end: 50px;
}

.container a {
  box-sizing: border-box;
  padding-block: 15px;
  padding-inline: 20px;
  color: hsl(31, 77%, 52%);
  background-color: hsla(235, 0%, 100%, 1);
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  font-family: 'Lexend Deca', sans-serif;
  border-radius: 40px;
}

.c {
  padding: 40px;
  background-color: hsl(31, 77%, 52%);
}

.suvs {
  background-color: hsl(184, 100%, 22%);
}

.suvs a {
  color: hsl(184, 100%, 22%);
}


.luxury {
  background-color: hsl(179, 100%, 13%);
}

.luxury a {
  color: hsl(179, 100%, 13%);
}

