@media all and (min-width: 860px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  .attribution {
    font-size: 22px;
  }

  .container {
    align-items: center;
    justify-content: center;
    margin: 30px;
    display: flex;
    flex: 100%;
    flex-direction: row;
    max-height: 100%;
  }


  .sedans {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .luxury {
    border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .container a {
    margin-block: 40px;
  }
}
